@font-face {
    font-family: "FranklinGothicMedium";
    src: url(../fonts/Franklin_Gothic_Medium.ttf) format("truetype");
}

body {
    font-family: 'FranklinGothicMedium';
}

body h2 {
    padding-top: 100px;
    font-size: 34px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
}

nav {
    position: fixed;
    background-color: #2A3E51;
    /* background: url(../img/nav.png) center/100% 61px no-repeat; */
    width: 100%;
    height: 61px;
}

.logo {
    float: left;
    padding-left: 388px;
    color: white;
    font-size: 23px;
    line-height: 61px;
    text-transform: capitalize;
}

.menu {
    float: left;
    padding-left: 430px;
}

.menu li {
    display: block;
    float: left;
    margin-right: 40px;
    line-height: 61px;
    font-size: 17px;
    text-transform: uppercase;
}

.menu li>a {
    color: #ffffff;
}

.menu li>a:hover{
    /* display: block; */
    background-color: white;
    color: black;
    border: 1px solid background-color;
    border-radius: 5px;
    animation-duration: 1s;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/shadow.png) 100% 100% no-repeat, url(../img/mainboy.png) 90% 100%/auto 90% no-repeat, url(../img/mainback.jpg) center/100% 100% no-repeat;

}

.title_container {
    float: left;
    text-align: center;
}

.title_container h1 {
    font-size: 83px;
    line-height: 67px;
    letter-spacing: -5px;
    font-weight: 400;
    color: #2C384A;
}

.title_container h4 {
    font-size: 21px;
    margin-top: 23px;
    color: #79818D;
}

.title_container input#me {
    margin-top: 47px;
    height: 42px;
    width: 95px;
    text-align: center;
    border: 2px solid #6D7682;
    border-radius: 5px;
}

.title_container input#job {
    margin-top: 47px;
    margin-left: 26px;
    height: 42px;
    width: 126px;
    text-align: center;
    border: 2px solid #6D7682;
    border-radius: 5px;
}

.about_me img#me_line {
    display: block;
    margin: 20px auto;
}

.about_me img#me_boy {
    display: block;
    margin: 44px auto;
}

.about_me p#text_1 {
    display: block;
    width: 763px;
    margin: 38px auto;
    font-family: Calibri;
    color: #79818D;
    font-size: 17px;
    font-weight: 400;
}

.about_me p#text_2 {
    width: 763px;
    margin: 40px auto;
    font-family: Calibri;
    color: #79818D;
    font-size: 17px;
    font-weight: 400;
}

.about_me input {
    display: block;
    border: 2px solid #6D7682;
    border-radius: 5px;
    margin: 35px auto 100px;
    padding: 7px 9px 7px 36px;
    background: url(../img/down.png) 10px 10px no-repeat;
    font-size: 17px;
    font-weight: 400px;
    line-height: 20px;
    color: #6F707E;
}

.skills {
    width: 100%;
    height: 538px;
    background: url(../img/skillsback.jpg) center/100% 100% no-repeat;
}

.skills img#skills_line {
    display: block;
    margin: 20px auto;
}

.skills_item {
    display: block;
    float: left;
    margin: 123px 0px 0px 200px;
}

.skills_item>img#img1 {
    margin-left: 294px;
}

.skills_item>img {
    margin-left: -51px;
}

.skills_item>h3#web {
    margin-left: 217px;
}

.skills_item h3 {
    width: 216px;
    text-align: center;
    margin-left: -133px;
    margin-top: 30px;
    font-size: 19px;
    font-weight: 20px;
    letter-spacing: -1px;
    color: #CF7600;
    font-style: normal;
}

.skills_item>p#web_fish {
    margin-left: 214px;
}

.skills_item p {
    font-family: 'Calibri';
    width: 216px;
    text-align: center;
    margin-left: -133px;
    margin-top: 17.4px;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: -1px;
    color: #3F495A;
}

.cases>img#line_cases {
    display: block;
    /* margin: 20px 0% 0px 920px; */
    margin: 20px auto;
}

.cases p {

    font-family: 'Calibri';
}

.cases>p#first_text {
    display: block;
    margin: 63px auto;
    width: 710px;
    /* margin: 63px 0px 0px 605px; */
    font-family: 'Calibri';
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: -1px;
    color: #3F495A;
}

.cases>img#cases_img {
    display: block;
    margin: 38px auto;
    /* margin: 38px 0px 0px 389px; */
}

.info{
    display: flex;
    
}


/* .client {
    position: relative;
    display: block;
    float: left;
}

.name_project {
    position: absolute;
    display: block;
    float: left;
}

.web_site {
    position: relative;
    display: block;
    float: inline-start;
} */
/* 
.client h3 {
    margin: 39px 0px 0px 389px;
    text-align: left;
    width: 73px;
    font-size: 25px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -1.5px;
    color: #384354;
}

.client p {
    margin: 6px 0px 0px 388px;
    text-align: left;
    width: 187px;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -1px;
    color: #384354;
}

.name_project h3 {
    margin: 39px 0px 0px 674px;
    font-size: 25px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -1.5px;
    color: #384354;
}

.name_project p {
    margin: 8px 0px 0px 674px;
    width: 859px;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -1px;
    color: #384354;
}

.web_site h3 {
    margin: 7px 0px 0px 389px;
    width: 73px;
    font-size: 25px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -1.5px;
    color: #384354;
}

.web_site p {
    margin: 10px 0px 0px 388px;
    width: 187px;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -1px;
    color: #384354;
} */

.cases input {
    border: 1px solid #63B5AE;
    border-radius: 5px;
    width: 201px;
    height: 44px;
    background-color: #63B5AE;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    color: #fff;
    margin: 15px 0px 0px 389px;
}

.cases h3#calc {
    margin-top: 145px;
    font-size: 46px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -2px;
}

.cases form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cases form>h3#type_site {
    align-items: flex-end;
    width: 891px;
    font-size: 29px;
    font-weight: 400;
    line-height: 33px;
    text-transform: uppercase;
    margin-top: 65px;
}

.cases form>h3 {
    align-items: flex-end;
    width: 891px;
    font-size: 29px;
    font-weight: 400;
    line-height: 33px;
    text-transform: uppercase;
    margin-top: 37px;
}

.cases form>select {
    border: 2px solid #EEEEEE;
    background-color: #EEEEEE;
    width: 891px;
    height: 57px;
    border-radius: 5px;
    padding: 0px 0px 0px 24px;
    color: #737373;
    font-size: 17px;
    font-weight: 400;
    line-height: 19px;
    margin-top: 23px;
}

.cases>img#line_calc {
    display: block;
    margin: 36px 0px 0px 507px;
}

.cases>h4#term {
    position: absolute;
    display: block;
    float: left;
    margin: 15px 0px 0px 517px;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    color: #1C2534;
}

.cases>h4#price {
    position: absolute;
    display: block;
    float: left;
    margin: 54px 0px 0px 517px;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    color: #1C2534;
}

.cases>h5#term_res {
    position: relative;
    display: block;
    float: left;
    margin: 11px 100% 0px 1390px;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    color: #1C2534;
}

.cases>h5#price_res {
    position: relative;
    display: block;
    float: left;
    margin: 2px 100% 0px 1390px;
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
    color: #1C2534;
}

.statistics h3 {
    font-family: 'Impact';
}

.statistics {
    display: block;
    margin: 200px auto;
    width: 100%;
    height: 499px;
    background: url(../img/statis.jpg) no-repeat;
}

.statistics img#img_stat {
    display: block;
    margin: 20px 0% 0px 920px;
}

.stat_item1 {
    position: relative;
    float: left;
    display: block;
    margin-left: 445px;
    margin-top: 75px;
    width: 170px;
    text-align: center;
}

.stat_item {
    position: relative;
    float: left;
    display: block;
    margin-left: 122px;
    margin-top: 75px;
    width: 170px;
    text-align: center;
}

.stat_item4 {
    position: relative;
    float: left;
    display: block;
    margin-left: 122px;
    margin-top: 75px;
    width: 170px;
    text-align: center;
}

.stat_item1 h3 {
    margin-top: 31px;
    font-size: 37px;
    font-weight: 400;
    line-height: 21px;
    color: #1C2534;
}

.stat_item h3 {
    margin-top: 32px;
    font-size: 37px;
    font-weight: 400;
    line-height: 27px;
    color: #1C2534;
    vertical-align: middle;
}

.stat_item4 h3 {
    margin-top: 32px;
    font-size: 37px;
    font-weight: 400;
    line-height: 21px;
    color: #1C2534;
    vertical-align: middle;
}

.stat_item1 p {
    margin-top: 32px;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    color: #323E4F;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.stat_item p {
    margin-top: 32px;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    color: #323E4F;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.stat_item4 p {
    margin-top: 32px;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    color: #323E4F;
    text-transform: uppercase;
    letter-spacing: -1px;
}

#reviews_line {
    display: block;
    margin: 20px 0% 0px 920px;
}

#foto_rev {
    display: block;
    margin: 55px 0% 0px 911px;
}

.reviews p {
    font-family: 'Calibri';
    margin: 48px 0px 0px 607px;
    width: 706px;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    color: #243042;
    letter-spacing: -1px;
}

.reviews h3 {
    font-family: 'Calibri';
    margin: 27px 0px 133px 838px;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    color: #243042;
    letter-spacing: -1px;
}

.me_contacts {
    width: 100%;
    height: 808px;
    background: url(../img/contact.jpg) center/100% 808px no-repeat;
}

.me_contacts {
    color: white;
}

#me_contacts_line {
    display: block;
    margin: 20px 0% 0px 920px;
}

#cont_fish {
    font-family: 'Calibri';
    margin: 43px 0px 0px 622px;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -1px;
}

.contacts_item {
    position: relative;
    display: block;
    width: 184;
    text-align: center;
    float: left;
    margin-top: 34px;
    margin-left: 92px;
}

#locate_class{
    margin-left: 650px;
}

.contacts_item>p {
    margin-top: 5px;
    font-family: 'Calibri';
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -1px;
}

.me_contacts h3 {
    margin-top: 145px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.me_contacts form {
    margin-top: 30px;
}

#text {
    margin-left: 595px;
    border: 2px solid rgba(238, 238, 238, 0.85);
    width: 352px;
    height: 34px;
    background-color: rgba(238, 238, 238, 0.85);
    padding-left: 12px;
    color: #5D5D5E;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -1px;
}

#email {
    margin-left: 25px;
    border: 2px solid rgba(238, 238, 238, 0.85);
    width: 352px;
    height: 34px;
    background-color: rgba(238, 238, 238, 0.85);
    padding-left: 12px;
    color: #5D5D5E;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -1px;
}

#input_mess {
    margin-top: 14px;
    margin-left: 595px;
    border: 2px solid rgba(238, 238, 238, 0.85);
    width: 732px;
    height: 94px;
    background-color: rgba(238, 238, 238, 0.85);
    padding-left: 12px;
    color: #5D5D5E;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -1px;
}

#send {
    margin: 28px 0px 0px 897px;
    border: 2px solid #F9FAFF;
    background-color: rgba(0, 0, 0, 0.0001);
    color: white;
    width: 125px;
    height: 46px;
    text-align: center;
    border-radius: 5px;
    font-weight: 400;
    font-size: 21px;
    line-height: 0px;
    letter-spacing: -1px;
}

.maps {
    width: 100%;
    height: 356px;
    background: url(../img/maps.jpg) center/100% 356px no-repeat;
}

.maps h3 {
    margin: 143px 0px 0px 864px;
    float: left;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    width: 135px;
    height: 48px;
    font-family: 'Arial';
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -1px;
}

footer {
    width: 100%;
    height: 90px;
    background: #2A3E51;
    padding-top: 38px;
    text-align: center;
    font-family: 'ArialMT';
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -1px;
    color: white;
}